.app__title {
  color: var(--pink-primary);
  flex: 0 0 auto;
  text-align: center;
}

.app__header {
  display: flex;
  align-items: center;
}

.app__header-spacer,
.app__header-actions {
  flex: 1;
}

.app__header-actions {
  display: flex;
  justify-content: flex-end;
}
