<span class="visually-hidden" aria-live="polite">{{ liveAnnouncement() }}</span>

@switch (state()) {

  @case ('blooming') {
    <app-generic-frame>
      <app-bloom-loader (done)="onBloomDone()"/>
    </app-generic-frame>
  }

  @case ('category-intro') {
    <app-generic-frame>
      <app-category-intro
        [title]="introTitle()"
        [body]="introBody()"
        [dismissible]="true"
        (dismiss)="onIntroDismissed()"
      />
    </app-generic-frame>
  }
  @case ('limit-reached') {
    <app-generic-frame>
      <app-limit-reached
        [isDailyLimit]="limitIsDailyLimit()"
        [userName]="userName()"
        [totalPoints]="totalPoints()"
        [dailyLimit]="dailyLimit()"
      />
    </app-generic-frame>
  }

  @case ('question') {
    <app-generic-frame>
      <app-quiz-header
        [name]="userName()"
        [exercisesToday]="exercisesToday()"
        [totalPoints]="totalPoints()"
        [dailyLimit]="dailyLimit()"
      />

      <app-question-card
        [questionNumber]="currentQuestion()!.id"
        [question]="localizedQuestion()!"
        [codeSnippet]="localizedSnippet()"
        [answers]="currentQuestion()!.answers"
        [tags]="currentQuestion()!.tags ?? []"
        (save)="onAnswerSubmitted($event.selectedAnswer)"
        (tagClick)="onTagClicked($event)"
      />
    </app-generic-frame>
  }
  @case ('answered') {
    <app-generic-frame>
      <app-quiz-header
        [name]="userName()"
        [exercisesToday]="exercisesToday()"
        [totalPoints]="totalPoints()"
        [dailyLimit]="dailyLimit()"
      />

      <app-answer-feedback
        [isCorrect]="wasCorrect()!"
        [correctAnswer]="currentQuestion()!.correctAnswer"
        [showNextButton]="exercisesToday() < dailyLimit()"
        [explainUrl]="buildExplainUrl()"
        [dailyLimit]="dailyLimit()"
        (nextQuestion)="onNextQuestion()"
      />
    </app-generic-frame>
  }

}
