<div class="bloom">
  <svg viewBox="0 0 200 240" class="bloom__svg" aria-hidden="true">

    <line x1="100" y1="260" x2="100" y2="80" pathLength="1" class="bloom1__trunk"/>

    <!--branch 1-->
    <path d="M 100 200
              A 40 40 0 0 0 20 200"
          class="bloom1__branch bloom1__branch--1a" pathLength="1"/>

    <path d="M 20 200
              A 40 40 0 0 0 40 235"
          class="bloom1__branch bloom1__branch--1b" pathLength="1"/>

    <!--branch 2-->
    <path d="M 100 180
              A 40 40 0 0 1 180 180"
          class="bloom1__branch bloom1__branch--2a" pathLength="1"/>

    <path d="M 180 180
              A 40 40 0 0 1 160 215"
          class="bloom1__branch bloom1__branch--2b" pathLength="1"/>

    <!--branch 3-->
    <path d="M 100 130
              A 25 25 0 0 0 50 130"
          class="bloom1__branch bloom1__branch--3" pathLength="1"/>

    <!--branch 4-->
    <path d="M 100 110
              A 25 25 0 0 1 150 110"
          class="bloom1__branch bloom1__branch--4" pathLength="1"/>

    <!--branch 5-->
    <path d="M 100 80
              A 15 15 0 0 0 75 69"
          class="bloom1__branch bloom1__branch--5" pathLength="1"/>
  </svg>

  <p class="bloom__text">{{ langService.t('bloom.preparing') }}</p>
</div>
